		<% @tweets.each do |t| %>
			<table>
				<tr>
					<% if t.user.profile.present? %>
						<% @turl = t.user.profile.avatar.url %>
					<% else %>
						<% @turl = "default.png" %>
					<% end %>
					<td>
					<p class="image"><%= image_tag @turl, width: 60, height: 60, class: "image2" %></p>
					Post by <strong><%= t.user.username %></strong> <%= time_ago_in_words(t.created_at) %> ago.<br />
					<font color="blue"><%= t.text %></font>
					<% if t.user == current_user %>
						<%= link_to 'X', user_tweet_path(@user, t), 
										method: :delete, 
										data: { confirm: 'Are you sure?' },
										remote: true, class: "delete_tweet" %>
					<% end %>
					<br /><% if t.picture? %><%= image_tag t.picture.url, class: "picture" %><% end %>
					</td>
				</tr>
				<tr>
					<td>
					<%= form_for([t.user, t, t.user.comments.build]) do |fc| %>
						<div class="freply">
						<p><%= fc.text_area :text, size: "65x2", class: "typeahead" %></p>
						<p><%= fc.submit "Reply"%></p>
						</div>
					<% end %>
					</td>
				</tr>
				<tr>
					<td>
					<% t.comments.each do |c| %>
					<tr class="reply">
						<% if c.user.profile.present? %>
							<% @curl = c.user.profile.avatar.url %>
						<% else %>
							<% @curl = "default.png" %>
						<% end %>
						<td>
						<div class="lreply">
						<p class="image"><%= image_tag @curl, width: 50, height: 50, class: "image2" %></p>
						Reply by <strong><%= c.user.username %></strong> <%= time_ago_in_words(c.created_at) %> ago.<br />
						<%= c.text %>
						<% if c.user == current_user %>
							<%= link_to 'X', [c.user, c.tweet, c],
               								method: :delete,
               								data: { confirm: 'Are you sure?' },
               								remote: true, class: "delete_reply" %>
               			<% end %>
               			</div>
						</td>
					</tr>
					<% end %>
					</td>
				</tr>
			</table>
		<% end %>