<div>
  	<div class="col-md-4 block">
	    <% if current_user.profile.present? %>
	      <p class="image"><%= image_tag @user.profile.avatar.url, :width => 90, :height => 90, :class => "image2" %></p>
	      <strong>@<%= @user.username %></strong><br />
	      <span><%= link_to "View Profile", user_profile_path(@user, @user.profile) %></span>
	    <% else %>
	      <p class="image"><%= image_tag "default.png", :width => 90, :height => 90, :class => "image2" %></p>
	      <strong>@<%= @user.username %></strong><br />
	      <span><%= link_to "New Profile", new_user_profile_path(@user) %></span>
	    <% end %>
	      <div>
			<a href="<%= following_user_path(@user) %>">
			    <strong id="following">
			      <%= @user.following.count %>
			    </strong>
			    following<br />
			  </a>
			    <strong id="followers">
			      <%= @user.followers.count %>
			    </strong>
			     followers
		</div>
		<div class="tfield">
	    	<%= form_for([@user, @user.tweets.build]) do |f| %>
	    	<% flash.each do |key, value| %>
			  <div class="alert alert-<%= key %>">
			    <a href="#" data-dismiss="alert" class="close">×</a>
			    <font color="red"><%= value %></font>
			  </div>
			<% end %>
	    		 <p>
				    <%= f.text_area :text, size: "25x5" %>
				 </p>
				 <p>
				    <%= f.submit "Tweet" %>
				 </p>
	    	<% end %>	
	    </div>
  	</div>
    <div class="col-md-8 tweet">
		<h4>Timeline</h4>	
		<% @tweets.each do |t| %>
			<table>
				<tr>
				<% if t.user.profile.present? %>
					<td width="95%"><p class="image"><%= image_tag t.user.profile.avatar.url, :width => 60, :height => 60, :class => "image2" %></p><%= t.text %></td>
				<% else %>
					<td width="95%"><p class="image"><%= image_tag "default.png", :width => 60, :height => 60, :class => "image2" %></p><%= t.text %></td>
				<% end %>
				<% if t.user == current_user %>
					<td width="5%"><%= link_to 'X', user_tweet_path(@user, t), method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
					<tr><td colspan="2">Posted by <strong>@<%= t.user.username %></strong> <%= time_ago_in_words(t.created_at) %> ago.</td></tr>
				<% else %>
					<tr><td>Posted by <strong>@<%= t.user.username %></strong> <%= time_ago_in_words(t.created_at) %> ago.</td></tr>
				<% end %>
			</table>
		<% end %>
    </div>
</div>