<div class="col-md-4 block">
		<p class="image"><%= image_tag @url, width: 90, height: 90, class: "image2" %></p>
	      <%= link_to @user.username, show_path(@user) %></strong><br />
	      <span><%= link_to "profile", @path %></span>
	    <div>
			<a href="<%= following_user_path(@user) %>">
				<strong id="following"><%= @user.following.count %></strong> following<br />
			</a>
			<strong id="followers"><%= @user.followers.count %> </strong>followers
		</div>
		<div class="tfield">
	    	<%= form_for([@user, @user.tweets.build], html: { multipart: true, class: "p_tweet", remote: true }) do |f| %>
	    	<% if flash[:error] %>
	    	<% flash.each do |key, value| %>
			  <div class="alert alert-<%= key %>">
			    <a href="#" data-dismiss="alert" class="close">×</a>
			    <font color="red"><%= value %></font>
			  </div>
			<% end %>
			<% end %>
	    		<p><%= f.text_area :text, size: "32x5", class: "typeahead" %></p>
				<p><%= f.file_field :picture %></p>
				<p><%= f.submit "Tweet" %></p>
	    	<% end %>	
	   </div>
</div>
<div class="col-md-8 tweet">
		<h4>Timeline</h4>	
  		<%= render 'form_tweet' %>
</div>
