<div class="jumbotron">
  	<h4>Signed in as <strong><%= current_user.username %></strong></h4>
    <div class="tweet">
		<h4>Listing Tweets</h4>	
			<% @tweets.each do |t| %>
			<table>
				<tr><td width="80%"><%= t.text %></strong></td>
				<td width="10%"><%= link_to 'Show', user_tweet_path(@user,t) %></td>
				<td width="10%"><%= link_to 'Delete', user_tweet_path(@user,t), method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
				<tr><td>Posted by <strong>@<%= current_user.username %></strong> <%= time_ago_in_words(t.created_at) %> ago.</td></tr>
			</table>
			<% end %>
	<div>
	    	<%= form_for :tweet, url: user_tweets_path do |f| %>
	    	<% if @tweet.errors.any? %>
				<div id="error_explanation">
				<h2>
					<%= pluralize(@tweet.errors.count, "error") %>:
				</h2>
				<ul>
					<% @tweet.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
				</div>
			<% end %>
	    		 <p>
				    <%= f.label :text %><br>
				    <%= f.text_area :text %>
				 </p>
				 <p>
				    <%= f.submit "Tweet" %>
				 </p>
	    	<% end %>	
	    </div>
    </div>
</div>