<div class="col-md-4 block">
	<p class="image"><%= image_tag @url, width: 90, height: 90, class: "image2" %></p>
	 <%= link_to @user.username, show_path(@user) %></strong><br />
	 <span><%= link_to "profile", @path %></span>
	 <div>
		 <strong id="following"><%= @user.following.count %></strong> following<br />
		 <strong id="followers"><%= @user.followers.count %></strong> followers
	 </div>
</div>
<div class="col-md-8 tweet">
	<h4>Timeline</h4>
	<div class="tfield">
	    <%= form_for([@user, @user.tweets.build], html: { multipart: true, class: "p_tweet", remote: true }) do |f| %>
	    	<div id="error"></div>
	    	<p><%= f.text_area :text, class: "typeahead" %></p>
			<p><%= f.submit "Tweet" %></p>
	    <% end %>
	</div>
	<div id="posts">	
		<%= render @tweets %>
	</div>
	<div id="scrolling">
		<%= will_paginate @tweets %>
	</div>
</div>

