<div class="jumbotron">
	<h4>Sign in as <strong><%= current_user.username %></strong></h4>
	<div>
	<table border="1" width="300px">
	<% @users.each do |user| %>
		<tr>
		<% if user.profile.present? %>
			<td><p class="image"><%= image_tag user.profile.avatar.url, :width => 50, :height => 50 %></p>
			<h5><%= user.username %></h5></td>
		<% else %>
			<td><h5><%= user.username %></h5></td>
		<%end%>
			<td><% if current_user.username == user.username %>
			<% else %>
				<% if current_user.following?(user) %>
					<%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
	             	html: { method: :delete }, remote: true) do |f| %>
				  		<%= f.submit "Unfollow", class: "btn btn-success" %>
					<% end %>
				<% else %>
					<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
				  		<div><%= hidden_field_tag :followed_id, user.id %></div>
				  	<%= f.submit "Follow", class: "btn btn-success" %>
					<% end %>
				<% end %>
			<% end %></td>
		</tr>
	<% end %>
	</table>
	<%= link_to "Back", users_path, :class => "btn btn-success" %>
</div>


