<div class="jumbotron">
	<h4>Sign in as <strong><%= current_user.username %></strong></h4>
	  <a href="<%= following_user_path(@user) %>">
	    <strong><%= @user.following.count %></strong> following
	  </a>
   	<strong><%= @user.followers.count %></strong> followers
    <div>
    	<h3>List Following</h3>
   		<% @users_following.each do |uf| %>
			<strong><%= uf.username %></strong><br />
		<% end %>
	</div>
	<div>
		<h3>List Follower</h3>
		<% @users_follower.each do |ur| %>
			<strong><%= ur.username%></strong><br />
		<% end %>
	</div>
</div>