<div>
<% if user_signed_in? %>
  <aside class="col-md-4">
    <section>
    <% if current_user.profile.present? %>
      <p class="image"><%= image_tag @user.profile.avatar.url, :width => 100, :height => 100 %></p>
      <h3><%= @user.username %></h3>
      <span><%= link_to "Profile", user_profile_path(@user, @user) %></span>
    <% end %>
    </section>
    <section>
      <div>
		<a href="<%= following_user_path(@user) %>">
		    <strong id="following" class="stat">
		      <%= @user.following.count %>
		    </strong>
		    following<br />
		  </a>
		    <strong id="followers" class="stat">
		      <%= @user.followers.count %>
		    </strong>
		     followers
		</div>
    </section>
  </aside>
  <div class="col-md-4">
  	<table>
  	<tr><td><h3>Following</h3></td></tr>
		<% if @users_following.present? %>
			<% @users_following.each do |uf| %>
					<tr>
						<td>
							<p class="image"><%= image_tag uf.profile.avatar.url, :width => 50, :height => 50 %></p>
							<h5><%= uf.username %></h5>
						</td>
					</tr>
			<% end %>
		<% end %>
	</table>
  </div>
  <div class="col-md-4">
  	<table>
		<tr></td><h3>Follower</h3></td></tr>
			<% if @users_follower.present? %>
				<% @users_follower.each do |uf| %>
					
						<tr>
							<td>
								<p class="image"><%= image_tag uf.profile.avatar.url, :width => 50, :height => 50 %></p>
								<h5><%= uf.username %></h5>
							</td>
						</tr>
					
				<% end %>
			<% end %>
	</table>
  </div>
  <% end %>
</div>